.button-primary {
  background-color: white;
  border: 0px;
  border-radius: 500px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 30px;
  cursor: pointer;

  &:hover {
    color: #868686;
  }
}

.button-secondary {
  background-color: transparent;
  border: 0px;
  border-radius: 500px;
  color: #868686;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 30px;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .button-primary {
    font-size: 0.75rem;
    padding: 5px 10px;
  }

  .button-secondary {
    font-size: 0.75rem;
    padding: 5px 10px;
  }
}