.card-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  background-color: #1b1b1b;
  // height: 250px;
  width: 200px;
  border-radius: 1rem;

  .card-image {
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 6px;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin: 10px 0;
  }

  .card-desc {
    font-size: 1rem;
    font-weight: 400;
    color: #8f8e8e;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover {
    transition: 0.25s ease-in;
    background-color: rgba(54, 54, 54, 0.612);
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    .card-image {
      height: 100px;
      width: 100px;
    }

    .card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .card-desc {
      display: none;
    }
  }
}
