$row-number: 0.03;
$row-title: 0.4;
$row-album: 0.3;
$row-date-added: 0.15;
$row-duration: 0.12;

.song-row-container {
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;

  .song-number {
    flex: $row-number;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  .song-details {
    display: flex;
    flex: $row-title;
    align-items: center;
    padding: 5px;

    .song-image {
      height: 40px;
      width: 40px;
      object-fit: contain;
    }

    .song-text {
      padding-left: 1rem;

      .song-title {
        color: white;
        font-size: 1rem;
        margin-bottom: 0.25rem;
      }
    }
  }

  .song-album {
    flex: $row-album;
    padding-left: 1rem;
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .song-date-added {
    flex: $row-date-added;
    text-align: center;
    padding: 0 1rem;
  }

  .song-duration {
    justify-content: flex-end;
    flex: $row-duration;
    text-align: end;
    padding-right: 3rem;
  }

  &:hover {
    background-clip: content-box;
    background-color: hsla(0,0%,100%,.1);

    .song-artist, .song-album {
      color: white;
    }
  }
}

.selected {
  .song-number {
    color: #1db954;
  }

  .song-details {
    .song-text {
      .song-title {
        color: #1db954;
      }
    }
  }
}


@media screen and (max-width: 720px) {

  .song-row-container {
    padding: 0.5rem 0.5rem;
 
    .song-number {
      flex: 0.05;
      padding-left: 0.75rem;
    }

    .song-details {
      flex: 0.9;

      .song-image {
        display: none;
      }

      .song-artist {
        font-size: 0.85rem;
      }
    }

    .song-album {
      display: none;
    }

    .song-date-added {
      display: none;
    }

    .song-duration {
      display: none;
    }
  }
}