.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #b3b3b3;
  width: 30vw;
  padding: 2rem 0 2rem 2rem;
  align-items: stretch;

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .title-logo {
      height: 40px;
      width: 40px;
      color: white;
    }

    .title-label {
      font-size: 30px;
      color: white;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}

.side-menu-1-container, .side-menu-2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .side-menu-icon-container {
    display: flex;
    margin: 10px 0;

    .side-icon-style {
      height: 25px;
      width: 25px;
    }
  
    .side-icon-label {
      margin-left: 10px;
    }
  }

  :hover {
    color: white;
    cursor: pointer;
  }

  &_active {
    color: white;
  }
}

.side-menu-2-container {
  margin-top: 20px;
}

.sidebar-divider {
  background-color: grey;
  height: 0.5px;
  margin: 10px 0;
  width: 100%;
}

.playlist-items {
  overflow-y: scroll;

  .playlist-row-item {
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0.85rem 0;
  }

  :hover {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .sidebar-container {
    display: none;
  }
}