.banner-container {
  display: flex;
  background: rgb(40, 56, 72);
  background: linear-gradient(180deg, rgba(40, 56, 72, 1) 0%, rgba(20, 20, 43, 1) 35%, rgba(40, 56, 72, 1) 100%);
  padding: 1rem;
  align-items: flex-end;

  .image-container {
    .playlist-banner-image {
      height: 15rem;
      width: 15rem;
      object-fit: contain;
    }
  }

  .banner-text-container {
    padding: 1rem;
    color: white;
  
    .banner-text-type {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
    }
  
    .banner-text-title {
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 1.5rem;
    }
  
    .banner-text-desc {
      color: #b3b3b3;
      font-size: 1rem;
      font-weight: 400;
    }
  
    .banner-footer-container {
      display: flex;
      align-items: center;
  
      .banner-footer-owner {
        font-size: 0.8125rem;
        font-weight: 700;
      }
  
      .banner-footer-likes {
        font-size: 0.8125rem;
        font-weight: 700;
      }
  
      .banner-footer-songs {
        font-size: 0.8125rem;
        font-weight: 700;
      }
  
      .banner-footer-duration {
        font-size: 0.8125rem;
        color: hsla(0, 0%, 100%, .7);
      }
  
      .banner-footer-spacer {
        padding: 0 10px 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
  
    .image-container {
      .playlist-banner-image {
        height: 10rem;
        width: 10rem;
        object-fit: contain;
      }
    }

    .banner-text-container {
      color: #b3b3b3;

      .banner-text-type {
        display: none;
      }

      .banner-text-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .banner-footer-owner {
        display: none;
      }

      .banner-footer-spacer {
        display: none;
      }

      .banner-footer-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }
  }
}
