.player-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #181818;
  color: white;
  height: 90px;
  width: 100%;
  z-index: 2;
  padding: 0 16px;

  .player-song-details {
    display: flex;
    align-items: center;
    flex: 0.25;

    .song-image {
      height: 50px;
      width: 50px;
      object-fit: contain;
    }
    
    .song-text {
      padding: 0 1rem;

      .song-title {

      }
  
      .song-artist {
        font-size: 0.85rem;
        color: #b3b3b3;
      }
    }
  }

  .player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;

    .icons-container > svg {
      margin: 0 0.5rem
    }

    .player-prev, .player-next {

      &:hover {
        color: white !important;
        transform: scale(1.2);
      }
    }
  }

  .volume-controls {
    display: flex;
    justify-content: flex-end;
    flex: 0.25;
  }
}

@media screen and (max-width: 600px) {
  .player-container {
    height: auto;
    background-color: #535353;
    bottom: 50px;
    border-radius: 10px;
    padding: 0;

    .player-song-details {
      flex: 2;
      .song-text {
        display: flex;
        flex-direction: column;
      }
    }

    .player-controls {
      justify-content: flex-end;

      .icons-container > svg:nth-child(-n+2), .icons-container > svg:nth-child(4), .icons-container > svg:nth-child(5) {
        display: none;
      }
    }

    .volume-controls {
      display: none;
    }
  }
}