.home-container {
  background-color: #1e1e1e;
  overflow-y: scroll;

  .section-container {
    padding: 30px;

    .section-title {
      color: white;
      font-size: 20px;
      font-weight: 700;
      padding-left: 2%;
    }
    
    .section-playlists-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow-x: hidden;
    }
  }
}

@media screen and (max-width: 720px) {
  .home-container {
    .section-container {
      padding: 10px;

      .section-playlists-container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
      }
    }
  }
}