.app-container {
  display: flex;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: #b3b3b3;
}

@media only screen and (max-width: 720px) {
  .app-container {
    flex-direction: column;
  }
}