.app-container {
  display: flex;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .app-container {
    flex-direction: column;
  }
}