.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .song-progress-label {
    color: white;
    background-color: #181818;
  }

  .progress-bar-parent {
    display: flex;
    align-items: center;
    height: 10px;
    width: 50%;
    background-color: rgb(94, 92, 95);
    border-radius: 10px;
    margin: 10px;

    .progress-bar-filler {
      height: 100%;
      border-radius: 10px;
      text-align: right;
    }

    .progress-bar-label {
      color: white;
      font-weight: bold;
      padding: 5px;
    }
  }
}
