.search-container {
  height: 100vh;
  background-color: #1e1e1e;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;

  .search-card-container {
    height: 200px;
    object-fit: contain;
    background-repeat: no-repeat;
    min-width: 20vw;
    margin: 2rem 0;
    cursor: pointer;

    .title {
      color: white;
      font-size: 1.5rem;
      padding-left: 10px;
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 720px) {
  .search-container {
    padding-bottom: 3rem;
   
    .search-card-container {
      height: 40px;
      background-image: none;
      min-width: 40vw;
      margin: 0.5rem 0;

      .title {
        font-size: 0.75rem;
      }
    }
  }
}