.search-container {
  height: 100vh;
  background-color: #1e1e1e;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  // padding: 5%;

  .search-card-container {
    height: 200px;
    object-fit: contain;
    background-repeat: no-repeat;
    min-width: 20vw;
    margin: 2rem 0;
    cursor: pointer;

    .title {
      color: white;
      font-size: 1.5rem;
      padding-left: 10px;
      padding-top: 20px;
    }
  }

  .search-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2.5%;

    .tab-style {
      font-size: 0.85rem;
    }
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
  }

  .section-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2.5%;
    margin-top: 2.5%;
  }
}

.category-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 720px) {
  .search-container {
    padding-bottom: 3rem;
   
    .search-tabs {
      margin-top: 3%;
    }

    .section-title {
      margin-top: 5%;
    }

    .search-card-container {
      height: 40px;
      background-image: none;
      min-width: 40vw;
      margin: 0.5rem 0;

      .title {
        font-size: 0.75rem;
      }
    }
  }
}